html,
body {
    scroll-behavior: smooth;
}

.card-icon {
    animation: bounce 2s linear infinite;
}

@keyframes bounce {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.card h1 {
    animation: fadeUp 1.5s ease both;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-content {
    display: inline-block;
    margin: 0 0.5rem;
    animation: backInUp 2s ease both;
}

@keyframes backInUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ddfsb */

.animated-box box-1,
animated-box box-2,
animated-box box-3 {
    animation: fadeUp 1.5s ease both;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-image {
    display: inline-block;
    margin: 0 0.5rem;
    animation: backInUp 2s ease both;
}

@keyframes backInUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* hgggggggggggggj */

.timeline-item {
    animation: floatPulse 3s ease-in-out infinite;
}

@keyframes floatPulse {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateY(-10px) scale(1.03);
        opacity: 0.9;
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}


.gallery-item{
    animation: jump 1.4s ease-in-out infinite;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}

